html[dir="rtl"] body.rtl{
    text-align: right;
}

#adminmenu a.toplevel_page_secure-copy-content-protection div.wp-menu-image img {
    padding: 0;
    opacity: .6;
    width: 32px;
    transition: all .3s;
}

#adminmenu a.toplevel_page_secure-copy-content-protection + ul.wp-submenu.wp-submenu-wrap li:last-child a {
    color: #68A615;
    font-weight: bold;
}

div#ays_ask_question_content_inner{
    position: relative;
}

div#ays_ask_question_content div#ays_ask_question_content_inner a#ays_poll_queztion_link{
    position: absolute;
    color: white;
    text-decoration: none;
    font-family: cursive;
    width: 95%;
    font-weight: bold;
    box-shadow: unset;
    outline: none;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    transform: rotate(4deg);
    height: 75%;
}

div#ays_ask_question_content{
    display: flex;
    justify-content: flex-end;
    position: fixed;
    bottom: 10px;
    right: 10px;
    z-index: 11111;

}

.swal2-popup .ays-sccp-upgrade-button,
.swal2-popup .ays-sccp-cancel-button {
    position: relative;
}

.swal2-popup .ays-sccp-upgrade-button.swal2-styled.swal2-confirm:after {
    content: "(Save Your Data)";
    position: absolute;
    color: #878787;
    bottom: -18px;
    left: 25px;
    font-size: 12px;
}

.swal2-popup .ays-sccp-cancel-button.swal2-styled.swal2-cancel:after {
    content: "(Delete All Data)";
    position: absolute;
    color: #878787;
    bottom: -18px;
    left: 30px;
    font-size: 12px;
}

.swal2-popup .ays-sccp-upgrade-button.swal2-styled.swal2-confirm {
    background-color: #fff !important;
    color: #3085d6 !important;
    border: 1px solid #3085d6 !important;
}

#adminmenu a.toplevel_page_secure-copy-content-protection div.wp-menu-image img {
    width: 28px !important;
    padding-top: 2px !important;
}

/*! SCCP Deactivate Feedback Popup | Start */
#ays-sccp-deactivate-feedback-modal .ays-sccp-dialog-skip,
#ays-sccp-deactivate-feedback-modal .ays-sccp-dialog-submit {
    font-size: 12px;
    font-weight: 500;
    line-height: 1.2;
    padding: 8px 16px;
    outline: none;
    border: none;
    border-radius: 3px;
    background-color: #515962;
    color: #ffffff;
    transition: all 0.3s;
}
#ays-sccp-deactivate-feedback-modal .ays-sccp-dialog-skip:hover,
#ays-sccp-deactivate-feedback-modal .ays-sccp-dialog-submit:hover {
    border: none;
}
#ays-sccp-deactivate-feedback-modal .ays-sccp-dialog-skip:hover,
#ays-sccp-deactivate-feedback-modal .ays-sccp-dialog-submit:hover,
#ays-sccp-deactivate-feedback-modal .ays-sccp-dialog-skip:focus,
#ays-sccp-deactivate-feedback-modal .ays-sccp-dialog-submit:focus {
    background-color: rgb(57.9217877095, 63.6424581006, 70.0782122905);
    color: #ffffff;
}
#ays-sccp-deactivate-feedback-modal .ays-sccp-dialog-skip:active,
#ays-sccp-deactivate-feedback-modal .ays-sccp-dialog-submit:active {
    background-color: rgb(34.843575419, 38.2849162011, 42.156424581);
}
#ays-sccp-deactivate-feedback-modal .ays-sccp-dialog-skip:not([disabled]),
#ays-sccp-deactivate-feedback-modal .ays-sccp-dialog-submit:not([disabled]) {
    cursor: pointer;
}
#ays-sccp-deactivate-feedback-modal .ays-sccp-dialog-skip:disabled,
#ays-sccp-deactivate-feedback-modal .ays-sccp-dialog-submit:disabled {
    background-color: #d5d8dc;
    color: #babfc5;
}
#ays-sccp-deactivate-feedback-modal .ays-sccp-dialog-skip {
    background: transparent;
    color: #515962;
}
#ays-sccp-deactivate-feedback-modal .ays-sccp-dialog-skip:hover,
#ays-sccp-deactivate-feedback-modal .ays-sccp-dialog-skip:focus {
    background: #f1f2f3;
    color: #3f444b;
}
#ays-sccp-deactivate-feedback-modal .ays-sccp-dialog-skip:disabled {
    background: transparent;
    color: #babfc5;
}
#ays-sccp-deactivate-feedback-modal .ays-sccp-dialog-submit {
    background-color: #fb8d5f;
    color: #0c0d0e;
}
#ays-sccp-deactivate-feedback-modal .ays-sccp-dialog-submit:hover,
#ays-sccp-deactivate-feedback-modal .ays-sccp-dialog-submit:focus {
    background-color: #f19b76;
    color: #0c0d0e;
}
body.ays-sccp-editor-active :is(.is-desktop-preview, .is-tablet-preview, .is-mobile-preview) :is(.editor-styles-wrapper, iframe[name="editor-canvas"]) {
    height: auto !important;
    padding: 0 !important;
    flex: 0 !important;
}

.ays-sccp-dialog-widget-content {
    background-color: #ffffff;
    position: absolute;
    border-radius: 3px;
    box-shadow: 2px 8px 23px 3px rgba(0, 0, 0, 0.2);
    overflow: hidden;
}

.ays-sccp-dialog-message {
    line-height: 1.5;
    box-sizing: border-box;
}

.ays-sccp-dialog-type-lightbox {
    position: fixed;
    height: 100%;
    width: 100%;
    bottom: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.8);
    z-index: 9999;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
}

.e-button:not(:disabled):not(.disabled) {
    cursor: pointer;
}
.e-button:not(:disabled):not(.disabled):active:focus,
.e-button:not(:disabled):not(.disabled).active:focus {
    box-shadow: 0 0 0 2px rgba(0, 115, 170, 0.4);
}

#ays-sccp-deactivate-feedback-modal {
    color: #515962;
    display: flex;
    justify-content: center;
    align-items: center;
}
#ays-sccp-deactivate-feedback-modal .ays-sccp-dialog-widget-content {
    width: 500px;
    position: unset;
    max-width: 95%;
}
#ays-sccp-deactivate-feedback-modal .ays-sccp-dialog-header {
    padding: 18px 15px;
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.1);
    text-align: start;
}
#ays-sccp-deactivate-feedback-modal .ays-sccp-dialog-message {
    padding: 30px;
    padding-block-end: 0;
    text-align: start;
}
#ays-sccp-deactivate-feedback-modal .ays-sccp-deactivate-feedback-dialog-input {
    margin-block: 0;
    margin-inline: 0 15px;
    box-shadow: none;
    margin-top: 6px;
}
#ays-sccp-deactivate-feedback-modal .ays-sccp-deactivate-feedback-dialog-input:not(:checked) ~ label .ays-sccp-deactivate-feedback-sub-dialog-input-wrapper,
#ays-sccp-deactivate-feedback-modal .ays-sccp-deactivate-feedback-dialog-input:not(:checked) ~ label .ays-sccp-feedback-text {
    display: none;
}
#ays-sccp-deactivate-feedback-modal .ays-sccp-deactivate-feedback-dialog-label {
    display: block;
    font-size: 13px;
    min-width: 220px;
    cursor: pointer;
}
#ays-sccp-deactivate-feedback-modal .ays-sccp-feedback-text {
    background-color: transparent;
    color: #515962;
    /*padding: 5px;*/
    box-shadow: none;
    width: 100%;
    margin: 0; 
    padding: 3px 15px;
    font-size: 13px;
}

#ays-sccp-deactivate-feedback-modal .ays-sccp-feedback-text.ays-sccp-feedback-text-color {
  color: #F59E0B;
  padding: 0;
  cursor: default;
}

#ays-sccp-deactivate-feedback-modal .ays-sccp-dialog-buttons-wrapper {
    display: flex;
    justify-content: space-between;
    padding: 20px 30px 30px;
}

#ays-sccp-deactivate-feedback-modal .ays-sccp-deactivate-feedback-sub-dialog-input-wrapper {
    margin-bottom: 5px;
}

#ays-sccp-deactivate-feedback-dialog-header {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

#ays-sccp-deactivate-feedback-dialog-header img {
    width: 20px;
    height: 20px;
}

#ays-sccp-deactivate-feedback-dialog-header i {
    font-size: 19px;
}
#ays-sccp-deactivate-feedback-dialog-header-title {
    font-size: 15px;
    text-transform: uppercase;
    font-weight: bold;
    padding-inline-start: 5px;
}
#ays-sccp-deactivate-feedback-dialog-form-caption {
    font-weight: bold;
    font-size: 15px;
    line-height: 1.4;
}
#ays-sccp-deactivate-feedback-dialog-form-body {
    padding-block-start: 30px;
    padding-block-end: 15px;
}

.ays-sccp-deactivate-feedback-dialog-input-wrapper {
    display: flex;
    align-items: flex-start;
    line-height: 2;
    overflow: hidden;
}

@media screen and (max-width: 782px) {
    div#ays-sccp-deactivate-feedback-modal .ays-sccp-deactivate-feedback-dialog-input {
        min-width: 25px;
        min-height: 25px;
    }
}
/*! SCCP Deactivate Feedback Popup | End */