@-webkit-keyframes bounceInRight_2022 {
    0%, 60%, 75%, 90%, to {
        -webkit-animation-timing-function: cubic-bezier(.215, .61, .355, 1);
        animation-timing-function: cubic-bezier(.215, .61, .355, 1)
    }

    0% {
        -webkit-transform: translate3d(3000px, 0, 0);
        opacity: 0;
        transform: translate3d(3000px, 0, 0)
    }

    60% {
        -webkit-transform: translate3d(-25px, 0, 0);
        opacity: 1;
        transform: translate3d(-25px, 0, 0)
    }

    75% {
        -webkit-transform: translate3d(10px, 0, 0);
        transform: translate3d(10px, 0, 0)
    }

    90% {
        -webkit-transform: translate3d(-5px, 0, 0);
        transform: translate3d(-5px, 0, 0)
    }

    to {
        -webkit-transform: translateZ(0);
        transform: translateZ(0)
    }
}

@keyframes bounceInRight_2022 {
    0%, 60%, 75%, 90%, to {
        -webkit-animation-timing-function: cubic-bezier(.215, .61, .355, 1);
        animation-timing-function: cubic-bezier(.215, .61, .355, 1)
    }

    0% {
        -webkit-transform: translate3d(3000px, 0, 0);
        opacity: 0;
        transform: translate3d(3000px, 0, 0)
    }

    60% {
        -webkit-transform: translate3d(-25px, 0, 0);
        opacity: 1;
        transform: translate3d(-25px, 0, 0)
    }

    75% {
        -webkit-transform: translate3d(10px, 0, 0);
        transform: translate3d(10px, 0, 0)
    }

    90% {
        -webkit-transform: translate3d(-5px, 0, 0);
        transform: translate3d(-5px, 0, 0)
    }

    to {
        -webkit-transform: translateZ(0);
        transform: translateZ(0)
    }
}

.bounceInRight_2022 {
    -webkit-animation-name: bounceInRight_2022;
    animation-name: bounceInRight_2022;
    animation-duration: 1s;
    animation-fill-mode: forwards;
    animation-delay: 30s;
    -webkit-transform: translate3d(3000px, 0, 0);
    transform: translate3d(3000px, 0, 0);
}

.error:not([class*="ays-sccp"]):not([class*="ays_sccp"]),
.notice:not([class*="ays-sccp"]):not([class*="ays_sccp"]) {
    display: none !important;
}

/* Sccp and Fox LMS integration main page 2025 | Start */

#ays-sccp-fox-lms-all-pages-popup {
    position: fixed;
    bottom: 0;
    right: 0;
    z-index: 100000;
}

#ays-sccp-fox-lms-all-pages-popup-main {
    width: 480px;
    height: 350px;
    font-size: 20px;
    color: white;
    position: relative;

    background: #FFFFFF;
    border: 1px solid #9E9E9E;
    box-shadow: 0px 4px 18px rgba(167, 167, 167, 0.4);
    border-radius: 16px;
}

.ays-sccp-fox-lms-all-pages-popup-fields-submit {
    color: #ffffff;
    cursor: pointer;
    font-size: 16px;
    text-decoration: none;
    display: inline-block;
    border: 0;
    outline: none;
    padding: 14px 10px;
    text-transform: capitalize;
    font-weight: bolder;
    background-color: #FF5004;
    box-shadow: 0px 2px 4px rgba(101, 101, 101, 0.25);
    border-radius: 10px;
    transition: 0.3s;
}

a.ays-sccp-fox-lms-all-pages-popup-fields-submit:focus,
a.ays-sccp-fox-lms-all-pages-popup-fields-submit:hover {
    color: #ffffff;
    background-color: #FF783D;
    text-decoration: none;
    box-shadow: 0px 2px 4px rgba(101, 101, 101, 0.25);
}

a.ays-sccp-fox-lms-all-pages-popup-fields-submit:active {
    color: #ffffff;
    background-color: #D64202;
    text-decoration: none;
    box-shadow: 0px 2px 4px rgba(101, 101, 101, 0.25);
}

.ays-sccp-fox-lms-all-pages-popup-layer {
    text-align: center;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    height: inherit;
    gap: 20px;
}

#ays-sccp-fox-lms-all-pages-popup-close-main {
    display: flex;
    justify-content: flex-end;
    position: absolute;
    right: 10px;
    top: 10px;
    background-color: transparent;
    border-radius: 50%;
    z-index: 10;
}

#ays-sccp-fox-lms-all-pages-popup-close {
    width: 32px;
    height: 32px;
    cursor: pointer;
    background: transparent;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

#ays-sccp-fox-lms-all-pages-popup-close > div {
    line-height: 24px;
    color: #323232;
    font-size: 32px;
}

.ays-sccp-fox-lms-all-pages-popup-dismiss-ad-button {
    font-size: 12px;
    color: #f3d7e5;
}

a.ays-sccp-fox-lms-all-pages-popup-dismiss-ad-button:hover {
    color: #f3d7e5;
    text-decoration: none;
}

div#ays-sccp-fox-lms-all-pages-popup-heading {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
}

.ays-sccp-fox-lms-all-pages-popup-heading-center {
    position: relative;
}

#ays-sccp-fox-lms-all-pages-popup .ays-sccp-fox-lms-all-pages-popup-heading-center img.ays-sccp-fox-lms-all-pages-icon {
    position: absolute;
    bottom: -30px;
    right: 0px;
}

.ays-sccp-fox-lms-all-pages-popup-heading-center {
    width: 100%;
}

.ays-sccp-fox-lms-all-pages-popup-heading-center a {
    display: inline-block;
}

#ays-sccp-fox-lms-all-pages-popup-heading-title {
    margin-top: 10px;
}

#ays-sccp-fox-lms-all-pages-popup-heading-title a {
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 21px;
    text-align: center;
    letter-spacing: 0.05em;
    color: #323232;
}

.ays-sccp-fox-lms-all-pages-popup-heading-title {
    position: absolute;
    right: 10px;
    top: 5px;
    color: #fff;
    letter-spacing: 7px;
    font-weight: bolder;
    font-style: normal;
    text-transform: uppercase;
    font-size: 17px;
}

div#ays-sccp-fox-lms-all-pages-popup-content {
    padding: 0 20px 15px;
}

.ays-sccp-fox-lms-all-pages-popup-content-title {
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 21px;
    letter-spacing: 0.2em;
    color: #98FBA6;
    text-transform: uppercase;
}

.ays-sccp-fox-lms-all-pages-popup-content-description {
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    color: #494949;
    letter-spacing: 0;
}

@media screen and (max-width: 768px) {
    #ays-sccp-fox-lms-all-pages-popup {
        max-width: 100%;
    }

    #ays-sccp-fox-lms-all-pages-popup .ays-sccp-fox-lms-all-pages-popup-heading-center img{
        max-width: 90%;
    }
}

@media screen and (max-width: 768px) {
    #ays-sccp-fox-lms-all-pages-popup-main {
        max-width: 100%;
        background-size: cover;
    }
}

@media screen and (max-width: 450px) {
    #ays-sccp-fox-lms-all-pages-popup-close-main {
        left: 0px;
        top: 0px;
    }
}

/* Sccp and Fox LMS integration main page 2025 | End */
